<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpZooManager.Properties.Settings.BVODBConnectionString"
            connectionString="Data Source=BOX-C-0001V\BVOSQL;Initial Catalog=BVODB;Persist Security Info=True;User ID=sa;Password=speelplein123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>